# https://docs.github.com/en/code-security/supply-chain-security/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      # see https://github.com/jenkinsci/jenkins/pull/5112#issuecomment-744429487 and https://github.com/jenkinsci/jenkins/pull/5116#issuecomment-744526638
      # it would be good to update it at some point, but requires significant testing
      - dependency-name: "org.codehaus.groovy:groovy-all"
        versions: [">=2.5.0"]
      # Must remain within Jetty 10.x until the Jakarta migration is complete; ignore Jetty 11.x updates
      - dependency-name: "org.eclipse.jetty:*"
        versions: [">=11.0.0"]
      # Provided by the Web container, so aligned with Jetty.
      - dependency-name: "jakarta.servlet:jakarta.servlet-api"
