<?xml version="1.0" encoding="UTF-8" ?>
<rules>
  <rule role="Observer" action="approve" />
  <rule role="Developer, Content Developer" action="talk"
><![CDATA[
Subject: your ${role} role in the ${project} project
From: owner@${project}.dev.java.net
Reply-To: owner@${project}.dev.java.net
To: ${user}@dev.java.net
CC: owner@${project}.dev.java.net

Hello,

I saw that you are interested in the ${role} role in the ${project}
project.

I'm very interested in having other people in the project, but at the
same time, it's bit hard to approve a request without even knowing who
you are.

So if you could introduce me who you are and perhaps tell me a bit about
your plan with the ${project} project, that would be greatly appreciated.

--
Kohsuke Kawaguchi
Sun Microsystems                  kohsuke.kawaguchi@sun.com
]]></rule>
</rules>
